*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
html,body{
    height: 100%;
    width: 100%;
}
/* First Page */
#main{
    height: 130vh;
    width: 100vw;
    /* background: violet; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#main1{
    height: 125vh;
    width: 98vw;
    background: red;
    border-radius: 17px;
    background-image: url(Untitled\ \(3\).svg);
    /* background-size: 74% 299%; */
    background-size: cover;
    background-position:6% 20%;
    
}
.nav1{
    height: 70px;
    width: 100%;
    /* background:rgba(255, 255, 0, 0.523); */
    /* margin-top: 8px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftnav{
    display: flex;
    gap: 5px;
    margin-left: 20px;
    /* margin-top: 12px; */
}
.item1{
    height: 32px;
    width: 80px;
    border-radius: 15px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item2{
    height: 32px;
    width: 60px;
    border-radius: 15px;
    border: 1px solid white;
       display: flex;
    justify-content: center;
    align-items: center;
}
.item3{
    height: 32px;
    width: 80px;
    border-radius: 15px;
    border: 1px solid white;
       display: flex;
    justify-content: center;
    align-items: center;
}
.item4{
    height: 32px;
    width: 95px;
    border-radius: 15px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.midnav{
  padding-bottom: 25px;
}
.logo>i{
    font-size: 35px;
    padding-left: 22px;
}
.logotxt>h5{
    font-weight: 500;
    letter-spacing: 1px;
}
.rightnav{
   display: flex;
   gap: 6px;
   justify-content: center;
   align-items: center;
   margin-right:30px;
}
.searchbox{
     height: 40px;
    width: 160px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.409);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bookbox{
    height: 40px;
    width: 120px;
    border-radius: 25px;
    background:rgba(0, 0, 0, 0.833);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.whitebox{
    height: 33px;
    width: 33px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu>i{
    font-size: 18px;
    color: white;
}
.menu{
    padding-left: 15px;
}

/* BADA WALA CONTAINER */
.box11{
    height: 87%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: gray; */
    margin-top: 3%;
}

.leftbox1{
    height: 100%;
    width: 55%;
    /* background: red; */
    display: flex;
    flex-direction: column;
    gap: 75px;
    margin-left: 20px;
}
.leftup1{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.photobox{
    height: 47px;
    width: 130px;
    border-radius: 25px;
    background-color:rgba(255, 255, 255, 0.349);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    backdrop-filter:blur(2px);
}
.pic1{
    height:40px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    left: 13px;
    background-image: url(spic1.jpg);
    background-position: top;
    background-size: cover;
}
.pic2{
    height:40px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
     background-image: url(spic2.jpg);
    background-position:center;
    background-size: cover;
}
.pic3{
    height:40px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    right: 13px;
     background-image: url(spic3.jpg);
    background-position: top;
    background-size: cover;
}

.leftbottom1{
   display: flex;
   flex-direction: column;
   gap: 22px;
}
.leftbtn11{
    height: 37px;
    width: 119px;
    border-radius: 20px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.leftcircle{
    height: 27px;
    width: 27px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.leftcontentdown{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 100px;
}
.leftcontentdown>h1{
    font-size: 65px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.rightbox1{
    height: 100%;
    width: 35%;
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.socialbox{
   height: 25%;
   width: 100%;
   /* background: green; */
   display: flex;
   flex-direction: column;
   gap: 5px;
   padding-left: 83%;
   margin-top: 25px;
}
.sbox1{
    height: 30px;
    width: 80px;
    border-radius: 20px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sbox2{
    height: 30px;
    width: 62px;
    border-radius: 20px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
}
.sbox3{
    height: 30px;
    width: 78px;
    border-radius: 20px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightcontentbox{
   height: 56%;
   width: 100%;
   /* background: blue; */
   display: flex;
   flex-direction: column;
   align-items: end;
   gap: 60px;
   padding-right: 17px;
}
.referbox{
    height: 47%;
    width: 78%;
    /* background: red; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(5px);
    background-color: rgba(75, 73, 73, 0.304);
    padding-right: 70px;
}
.link1{
   display: flex;
   align-items: center;
   gap: 20px;
   margin-right: 50px;
}
.sharelink{
    height: 38px;
    width: 125px;
    border-radius: 20px;
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.images1{
display: flex;
flex-direction: row;
position: relative;
}
.img1{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    background-image: url(p1.jpg);
    background-size: cover;
    background-position:center;
}
.img2{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    left: 29px;
    background-image: url(spic3.jpg);
    background-size: cover;
    background-position:center;
}
.img3{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    left: 55px;
   background-image: url(4th.jpg);
    background-size: cover;
    background-position:center;
}
.img4{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    left: 82px;
    background-image: url(p4.jpg);
    background-size: cover;
    background-position:center;
}
.downloadbox{
    height: 38%;
    width: 38%;
    border-radius: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.dtext11{
   display: flex; 
   gap: 3px;
   justify-content: center;
   align-items: center;
}
.blackcircle{
    height: 26px;
    width: 26px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.blackcircle>i{
    font-size: 10px;
}
.dcircle{
    height: 40px;
    width: 110px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.apple{
    display: flex;
    align-items: center;
    justify-content: center;
}
.download{
    height: 25px;
    width: 25px;
    background: black;
    border-radius: 50%;
     display: flex;
    align-items: center;
    justify-content: center;
}
.download>i{
    color: white;
    font-size: 15px;
}


/* Second Page */
#main2{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
#container2{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
#box1{
    height: 400px;
    width: 400px;
    /* background-color:skyblue; */
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 90px;
    padding-left: 30px;
}
#uperbtn{
     height: 26px;
    width: 120px;
    border-radius: 25px;
    border: 1px solid black;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-weight: 100;
    margin-top: 23px;
}
#btn{
    height: 40px;
    width: 145px;
    border-radius: 25px;
    background-color:black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-top: 23px;
    
}
#arrow{
    height: 35px;
    width: 37px;
    border-radius: 50%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;

}
#arrow>i{
    color: black;
    font-size: 25px;

}
#box2{
    height: 400px;
    width: 400px;
    background-color:red;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1722087642932-9b070e9a066e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#content2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    width: 400px;
}
#content2>#upperbtn{
     height: 26px;
    width: 120px;
    border-radius: 25px;
    border: 1px solid white;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-weight: 100;
    margin-top: 23px;
margin-left: 23px;
}
#content2>h4{
    color: white;
    padding-left: 25px;
    padding-bottom:35px;
    font-weight: 500;
    font-size: 24px;
}
#arrow2{
    height: 38px;
    width: 40px;
    border-radius: 50%;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 82%;
    margin-top: -20%;
}
#arrow22>i{
    color:white;
    font-size: 25px;

}
#box3{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    gap: 40px;
    padding-left: 15px;
}
#image22{
    height: 230px;
    width: 370px;
    background-color:brown;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(https://images.unsplash.com/photo-1606151595697-648a9a840cdc?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: bottom;
    background-size: cover;
}
#fut{
     color: white;
     margin-left: 24px;
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: 300;
}
#image22>#upperbtn2{
     height: 26px;
    width: 80px;
    border-radius: 25px;
    border: 1px solid white;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-weight: 100;
    margin-top: 23px;
margin-left: 23px;
}
#content22{
    height: calc(400px-230px);
    width: 370px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
#arrow3{
    height: 35px;
    width: 37px;
    border-radius: 50%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 110px;
    border: 1px solid black;
}
#arrow3>i{
    color: black;
    font-size: 25px;

}
#arrow33{
    height: 35px;
    width: 37px;
    border-radius: 50%;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#arrow33>i{
    color:white;
    font-size: 25px;

}
/* Third page */
#main3{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#left3{
    height: 80%;
    width: 52%;
    /* background-color: red; */
    display:flex ;
    flex-direction: column;
    justify-content: space-between;
}
#log{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 280px;
}
#log>i{
    color:white;
    font-size: 25px;

}
#nav3{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
}
#dabb3{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#uperbtn13{
     height: 26px;
    width: 120px;
    border-radius: 25px;
    border: 1px solid black;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-weight: 100;
    margin-top: 23px;
}
#uperbtn23{
     height: 26px;
    width: 120px;
    border-radius: 25px;
    border: 1px solid black;
    color:white;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-weight: 100;
    margin-top: 23px;
}

#leftdab{
    height: 80%;
    width: 100%;
    background:rgba(110,154,127,255);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#left33{
    height: 92%;
    width: 38%;
    background:whitesmoke;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1714802064652-d4d719ffbe64?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}
#right33{
    height: 92%;
    width: 53%;
    /* background: yellow; */
     display: flex;
    flex-direction: column;
    
}
#text3{
display: flex;
flex-direction: column;
gap: 28px;
}
#text3>h2{
color: white;
font-size: 34px;
}
#text3>h5{
color: white;
font-size: 20px;
}
#logo3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#teer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    gap: 6px;
}
#arrowthird{
    height: 35px;
    width: 37px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 110px; */
    border: 1px solid white;
}
#arrowthird>i{
    color:white;
    font-size: 25px;

}
#arrowfourth{
    height: 35px;
    width: 37px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
#arrowfourth>i{
    color:white;
    font-size: 25px;

}
#right3{
    height: 80%;
    width: 38%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#up3>h2{
font-size: 50px;
font-weight: 600;
}
#down3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}
#leftdown3{
  height: 270px;
  width: 220px;
  background: red;
  background-image: url(https://images.unsplash.com/photo-1698671823406-035c77ff6fcd?q=80&w=2030&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
#leftdown3>#circle3{
height: 60px;
width: 60px;
border-radius: 50%;
background: black;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
right: 575px;
margin-top: 110px;
}
#circle3>h1{
    padding-bottom: 10px;
}
#circle3>h1{
color: white;
}
#rightdown3{
  line-height:23px ;
}
#rightdown3>h1{
font-size: 60px;
color: rgba(0, 0, 0, 0.836);
}
#rightdown3>h4{
    color:rgba(0, 0, 0, 0.539);
}

/* Fourth page */
#main4{
    height: 100vh;
    width: 100vw;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#main44{
    height: 95%;
    width: 97%;
    border-radius: 20px;
    background:rgba(128, 128, 128, 0.18);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#nav4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    
}
#leftnav4{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 35px;
}
#leftnavbtn{
    height: 26px;
    width: 90px;
    border-radius: 25px;
    border: 1px solid black;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-weight: 100;
    
}
#rightnav4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-right: 35px;
}
#rightnav4>#search{
    height: 44px;
    width: 370px;
    font-size: 15px;
    border-radius: 20px;
    border: none;
}
#viewbutton{
    height: 44px;
    width: 100px;
    border-radius: 20px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#viewbutton>h4{
    color: white;
    font-weight: 300;
}

#centre4{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.up4{      
    height: 29px;
    width: 115px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* margin: 15px; */
    margin-bottom: 110px;
    margin-left: 190px;
}
.up4>h4{
    color: white;
    font-weight: 300;
}
#d1{
    height: 380px;
    width:328px;
    border-radius: 20px;
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(1st.jpg);
    background-position: center;
    background-size: cover;
}
#d1content,#d2content,#d3content,#d4content{
    margin-top: 50%;
}
#d2{
    height: 380px;
    width:328px;
    border-radius: 20px;
    background: red;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(2nd.jpg);
    background-position: center;
    background-size: cover;
}

#d3{
    height: 380px;
    width:328px;
    border-radius: 20px;
    background: red;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1690752795233-3813df6e2760?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}

#d4{
    height: 380px;
    width:328px;
    border-radius: 20px;
    background: red;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(4th.jpg);
    background-position: center;
    background-size: cover;
}
#d1,#d2,#d3,#d4,#d5>h2{
    color: white;
}
#bottom4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#content4{
    margin-right: 35px;
    
}
#content4>h4{
    color: rgba(0, 0, 0, 0.557);
}

#teer4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-left: 35px;
}
#arrowthird{
    height: 35px;
    width: 37px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 110px; */
    border: 1px solid black;
}
#arrowthird>i{
    color:black;
    font-size: 25px;

}
#arrowfourth{
    height: 35px;
    width: 37px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
#arrowfourth>i{
    color:black;
    font-size: 25px;

}
/* Fifth Page */
#main5{
    height: 100vh;
    width: 100vw;
    background:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#upper5{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
#cntnt>h1{
    font-weight: 600;
    font-size: 40px;
}
#ct{
    display: flex;
    margin-left: 90px;
     gap: 15px;
}
#ride
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#ride>i{
 font-size: 28px;
}
#seemore{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
#bbox{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bbox>i{
    color: white;
    font-size: 28px;
}
#bbox:hover{
background-color: rgb(99, 97, 97);
}
#dabba5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;

}
#dab51{   
    height:510px;
    width: 680px;
    background: red;
    border-radius: 20px;
}
#nav5{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin: 15px;
}
#left5{
    height: 35px;
    width: 110px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-left: 5px;
}
#left5>h3{
    color: white;
    font-weight: 300;
}
#log51{
    height: 60px;
    width: 60px;
    border-radius: 50%;

    border: 2px solid white;
}
#text51>h4{
    color: white;
    font-weight: 400;
}
#center51{
    margin-top: 50px;
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
#center51>h1{
    font-size: 50px;
}
#btn51{
    height: 60px;
    width: 190px;
    background: black;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#btn51>h1,h3{
    color: white;
}
#bottom51{
   margin: 18px ;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
#bottomleft51{
    height: 32px;
    width: 110px;
    border-radius: 20px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bottomright51{
    height: 60px;
    width: 60px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bottomright51>i{
    color: black;
    font-size: 20px;
}




#dab52{
    height:510px;
    width: 680px;
    background: red;
    border-radius: 20px;
}

/* SIXTH PAGE */

#main6{
    height: 120vh;
    width: 100vw;
    /* background: yellowgreen; */
    display: flex;
    flex-direction: column;
    gap: 45px;
    
}
#nav6{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  padding-top: 60px;
}
#left6{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#bbox6{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bbox6>i{
    color: white;
}
#team6{
    height: 30px;
    width: 68px;
    border-radius: 20px;
    background: rgba(128, 128, 128, 0.742);
    display: flex;
    justify-content: center;
    align-items: center;
}
#right6{
    margin-right: 520px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
#right6>h1{
    font-size: 42px;
    font-weight: 500;
}
#readmore{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
#teer6{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#teer6{
    color: white;
}
#center6{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}
#cbox1{
    height: 230px;
    width: 230px;
    background: rebeccapurple;
    border-radius: 20px;
     display: flex;
     flex-direction: column;
    justify-content: space-between;
    align-items: center;
     background-image: url(https://images.unsplash.com/photo-1737231807454-0b27e5465c07?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: bottom;
    background-size: cover;
    
}
#cboxes6{
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 130px;
  margin-top: 10px;
}
#whitebox1,#whitebox2{
    height: 45px;
    width: 45px;
    background:white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#whitebox1,#whitebox2>i{
    font-size: 20px;
    font-weight: 400;
}
#boxcontent{
    height: 57px;
    width: 95%;
    background:rgba(255, 255, 255, 0.135);
   border-radius: 22px;
   margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}
#cbox2{
    height: 230px;
    width: 230px;
    background: rebeccapurple;
    border-radius: 20px;
    display: flex;
     flex-direction: column;
    justify-content: space-between;
    align-items: center;
   background-image: url(https://images.unsplash.com/photo-1660463527860-b66aebd362c9?q=80&w=1926&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#cbox3{
    height: 230px;
    width: 230px;
    background: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#cbox3bottom{
    height: 38px;
    width: 90%;
    border: 1px solid white;
    border-radius: 25px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cbox3bottom>i{
    color: white;
    font-size: 24px;
    font-weight: 300;
    padding-left: 13px;
}
#cbox4{
    height: 230px;
    width: 230px;
    background: rebeccapurple;
    border-radius: 20px;
    display: flex;
     flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(https://plus.unsplash.com/premium_photo-1679757922056-f513eee92411?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: right;
}
#cbox5{
    height: 230px;
    width: 230px;
    background: rebeccapurple;
    border-radius: 20px;
    display: flex;
     flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1660463529569-17f8c4d16fbe?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#fotter{
    height: 40%;
    width: 96%;
    background:rgba(128, 128, 128, 0.18);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20px;

}
#f1{
    height: 250px;
    width: 300px;
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#f1logo>i{
    font-size: 32px;
    padding-left: 30px;
}

.hara{
    color: white;
    height: 40px;
    width: 90px;
    border-radius: 20px;
    background-color: #2e8b57;
   font-weight: 200;
   
}
#f2{
    height: 250px;
    width: 200px;
    /* background: brown; */
     display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#f2dabba>h5{
    color: rgba(0, 0, 0, 0.708);
}
#f2dabba{
    display: flex;
    flex-direction: column;
    gap: 14px;
}


#f3{
    height: 250px;
    width: 200px;
    /* background: brown; */
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#f3>h5{
    color: rgba(0, 0, 0, 0.708);
}
#f4{
    height: 250px;
    width: 200px;
    /* background: brown; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#f4cir:hover{
    background-color: #2e8b57;
}
#f4cir>h5{
    color: rgba(0, 0, 0, 0.708);
}
#f4cir{
    height: 25px;
    width: 70px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#f4cir>h5{
    font-size: 12px;
}
#f5{
    height: 250px;
    width: 300px;
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.input{
    height: 40px;
    width: 300px;
    border-radius: 20px;
    border-style: none;
}
#f5box{
    height: 40px;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#f5box>h5{
    padding-right: 150px;
}
#lastbtn{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 270px;
    margin-top: 175px;
}
#lastbtn>i{
    color: white;
    font-size: 25px;
    font-weight: 200;
}
#lastbtn:hover{
    background-color: #2e8b57;
}